

:root {
    --eric-red: #DC143C;
    --eric-green: #228B22;
    --eric-blue: #0000CD;
    --eric-yellow: #FFA500;

    --pontus-red: #ea907a;
    --pontus-green: #89bd9e;
    --pontus-blue: #7cb9e8;
    --pontus-yellow: #f3d250;

    --style-red: var(--pontus-red);
    --style-green: var(--pontus-green);
    --style-blue: var(--pontus-blue);
    --style-yellow: var(--pontus-yellow);

}

/* Define the font using @font-face */
@font-face {
    font-family: 'AvenirNext'; /* Font name you'll use in CSS */
    src: url('/express/fonts/AvenirNextLTPro-Regular.otf') format('otf'), /* Path to your font file */
         /*url('fonts/your-custom-font.woff') format('woff');  Provide different formats for compatibility */
    /* Add more src lines for other file formats if necessary */
    /* Include font-weight and font-style if applicable */
}

body {
    font-family: 'AvenirNext'; 
}
/* 

body {
    font-family: 'Montserrat'
    'Arial', 
    'Helvetica', 
    'Roboto', snygg för checkliste items
    'Open Sans', snygg för checkliste items
    'Lato', 
    'Montserrat', Snygg!
    'Nunito', 
    sans-serif; You can replace 'Arial' with any of the mentioned fonts 
}
*/

/* Apply specific styles for iPads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Your iPad styles here */
    body {
        /* Adjust font size for iPads */
        font-size: 20px;
    }
}
/* Apply specific styles for different screen resolutions */
@media only screen and (min-width: 1920px) {
    /* Styles for larger screens */
    body {
        /* Adjust font size for larger screens */
        font-size: 20px;
    }
}




/*
This is the main stylesheet used in this project.
To change items with the same class, use .className,
To change items based on unique item ID, use #itemID,
To change specific elements, reference the element, eg h1

Classes and unique IDs must be stated in the elements you wish to put the effect on.

These are the most common effects you'd want to try:

background-color: #f2f2f2;
color: #333;                        This is the color of the text

font-family: Arial, sans-serif;
font-size: 16px;
text-align: center;

border: 1px solid #ccc;
padding: 10px;
margin: 10px;

box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

opacity: 0.8;
transition: all 0.3s ease-in-out;
overflow: scroll;                   This controls what happens to text that doesn't fit


a:hover {
  color: #ff6600;
  font-size: 20px;
  text-decoration: underline;
}

To override other effects, and Bootstrap effects, use the !important statement.

Below are some examples.
*/

#changeThisToYourID
{
    color: #177617;
    font-size: 16px;
}

.changeThisToYourClass
{
    color: #c7da1a!important;
}

/*We can change the position of items by tweaking the pixels as shown below*/
.positioningExample {
    position: absolute;
    top: 20px;
    left: 50px;
    right: 20px;
    bottom: 10px;
  }



/* Here begins styles used by the index.html file*/

a:link, a:visited, a:active
{
    color: #000000;
    text-decoration: none;
}

/*This section removes the blue color and underline when hovering over links*/
a:hover
{
    color: #000000!important;
    text-decoration: none!important;
}

#menuList{
    margin: 24px;
    column-count: 3!important; /* Set the number of columns */
    column-gap: 40px; /* Set the gap between columns */
    list-style-type: none;
}

/*These classes are used by the checklists created on request
These are referenced by the index.js file. 
If more are added, you need to rerun the launch.sh script to bundle the js file again.*/

.checklist-dropdown-item
{

}

.checklist-menu-item
{
    font-size:25px!important;
    cursor: pointer;
}

.checklist-list
{

}

.checklist-item
{
    border: 0px!important;
    padding-right: 16px!important;
    cursor: pointer;
    font-size: 25px!important;
}

/*If you make changes to checklist items, you need to realign the checkboxes
Uncomment the code below and try different pixel values*/
.checklist-checkbox
{
    /*position: absolute;
    top: 50px;*/
}

/* Eric's colors:
Red: #DC143C
Green: #228B22
Blue: #0000CD
Yellow: #FFA500

Pontus's colors:
Red: #ea907a
Green: #89bd9e
Blue: #7cb9e8
Yellow: #f3d250
*/ 

#problemButton {color: var(--eric-red) !important;font-size: 90px !important;cursor: pointer;}

#diagnosButton {color: var(--eric-green) !important;font-size: 90px !important;cursor: pointer;}

#ingreppButton {color: var(--eric-blue) !important;font-size: 90px !important;cursor: pointer;}

#faktaButton {color: var(--eric-yellow) !important;font-size: 90px !important;cursor: pointer;}

/* Hover styles */
#problemButton:hover {
    color: var(--style-red)!important;; /* Red color when hovered */
}

#diagnosButton:hover {
    color: var(--style-green)!important;; /* Green color when hovered */
}

#ingreppButton:hover {
    color: var(--style-blue)!important;; /* Blue color when hovered */
}

#faktaButton:hover {
    color: var(--style-yellow)!important;; /* Yellow color when hovered */
}







/* Checkbox CSS */

/* Style the circles */
.circle-container-green,
.circle-container-yellow,
.circle-container-red {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 10%;
}

.circle-container-green {
    background-color: #89bd9e;
}
.circle-container-yellow {
    background-color: #f3d250;
}
.circle-container-red {
    background-color: #ea907a;
}
/* Blue color: #7cb9e8 */

.green-circle,
.yellow-circle,
.red-circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 0;
    font-size: 0;
    /*position: relative;*/
    display: inline-block;
}

.green-circle::before,
.yellow-circle::before,
.red-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
}

.green-circle::before {
    background-color: #89bd9e;
}

.yellow-circle::before {
    background-color: #f3d250;
}

.red-circle::before {
    background-color: #ea907a;
}

/* Style the actual radio buttons */
.circle-container-green input, 
.circle-container-yellow input, 
.circle-container-red input 
{
   display: none;
}

/* Inner black circle when checked */
.circle-container-green input:checked + .green-circle::before,
.circle-container-yellow input:checked + .yellow-circle::before,
.circle-container-red input:checked + .red-circle::before  {
    background-color: white;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

/* Style for the links class */
a.links {
    color: rgb(49, 117, 149); /* Text color red */
    font-weight: bold; 
    text-decoration: none; /* Remove default underline */
    /*text-decoration: underline;  Remove default underline */
}

a.links:hover {
    color: rgb(35, 86, 95)!important; /* Text color yellow on hover */
}

.non-clickable {
    pointer-events: none; /* Make the element non-clickable */
    color: white!important; /* Set text color to white */
}

.vertical-stack {
    display: flex; /* Set the li container as a flex container */
    flex-direction: column; /* Stack children vertically */
    /* Additional styles if required */
}

#itemText {font-size : 25px!important;}
#cardTitle {font-size : 30px!important;}